[Unit]
Description=Linvesther Cloudflare tunnel
After=network-online.target

[Service]
ExecStart=/usr/bin/cloudflared --no-autoupdate --config %h/linvesther/shared/cloudflared.yml tunnel run
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
